* {
    margin: 0;
    padding: 0;
}
.on {
    height: 100vh;
    background-color: rgb(246, 246, 246);
    /* background-color: black; */
}
.off {
    height: 100vh;
    background-color: black;
    color: #fff;
}
.w {
    width: 1200px;
    margin: 0 auto;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
/* 导航栏 */
.header {
    /* 弹性布局 */
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.header img {
    width: 80px;
}
.header .on-off {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #0f9cf5;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.header ul {
    height: 100px;
    display: flex;
    align-items: center;
}
.header ul li {
    width: 200px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-left: 2px solid #ccc;
    
}
.header ul li:last-child {
    border-right: 2px solid #ccc;
}
.header ul li a{
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.2s;
}
.header ul li a:hover{
    border-bottom: 2px solid #f6b539;
}
/* 个人信息 */
.user{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.user img {
    width: 800px;
}
.user-info {
    border: 2px solid #ccc;
    width: 400px;
    /* background-color: pink; */
}
.user-info .top {
    /* 弹性布局垂直排列 */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
}
.user-info .top img {
    width: 100px;
    margin: 0 auto;
}
.user-info .top ul {
    text-align: center;
}
.user-info .top span {
    display: block;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
}
.user-info .buttom {
    margin: 10px auto 0;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid #0f9cf5;
    text-align: center;
}
.user-info .buttom input {
    letter-spacing: 2px;
    cursor: pointer;
}
.section {
    margin-top: 50px;
}
.content-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #0f9cf5;
}
.content-header::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0f9cf5;
}
.content {
    /* display: none; */
    width: 100%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: black;
}
.content .major {
    width: 900px;
    /* height: 400px; */
    margin: 20px auto;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc,
    inset 0 0 10px #ccc;
    display: flex;
    flex-direction: column;
}
.content-username {
    width: 100%;
}
.major .content-username img {
    width: 70px;
}
.major .content-username span{
    margin-right: 20px;
}
.content-text {
    width: 100%;
    /* height: 300px; */
}
.content .content-text h2 {
    margin: 5px 0;
    cursor: pointer;
    transition: 0.5s;
}
.content .content-text h2:hover {
    text-decoration: underline;
}
.content .content-text .text {
    height: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 10px;
}
.text-spread {
    flex: 1;
    margin: 0 10px;
}
.content .content-text img {
    margin: 20px 10px 0;
    height: 100px;
}
.timer {
    display: flex;
    justify-content: flex-end;
    line-height: 40px;
}
.timer p {
    margin: 0 30px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.timer p:hover {
    text-decoration: underline;
}
.timer img {
    width: 40px;
    cursor: pointer;
}
.timer span {
    text-indent: 2em;
    flex: 1;
}
.timer a {
    margin-right: 20px;
    cursor: auto;
}
/* 搜索框 */
section .search-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section input {
    margin: 10px auto;
    width: 1000px;
    height: 40px;
    outline: none;
    border-radius: 8px;
}
section .search-id {
    width: 50px;
    cursor: pointer;
}
section .button-function,
section .photo-function {
    width: 800px;
    /* height: 500px; */
    /* background-color: pink; */
    border: 1px solid #0f9cf5;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.button-function .fun-top,
.photo-function .photo-top
 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.photo-function .photo-top {
    justify-content: space-around;
}
.button-function .fun-bottom,
.photo-function .photo-bottom {
    width: 700px;
    flex: 1;
    border: 1px solid #f6b539;
    margin-bottom: 20px;
}
.button-function .fun-bottom #form3 {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo-function .photo-bottom #form4 {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form3 #put-title,
#form4 #photo-name {
    width: 400px;
}
#form3 #put-content,
#form4 #put-brief {
    resize: none;
    width: 95%;
    height: 75%;
    outline: none;
}
/* 按钮设置 */
#form3 .form3-button,
#form4 .form4-button {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
}
.fun-bottom #form3 input,
.photo-bottom #form4 input {
    width: 100px;
    margin: 5px 0;
    /* cursor: pointer; */
}
.fun-bottom #form3 .form3-button input,
.photo-bottom #form4 .form4-button input {
    cursor: pointer;
}
.fun-bottom #form3 #files {
    width: 200px;
}
.button-function button,
.photo-function button {
    cursor: pointer;
    letter-spacing: 5px;
    height: 50px;
    margin: 0 20px
}
.content .major #form5 {
    width: 900px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content .major #form5 input {
    width: 100px;
    border-radius: 10px;
    margin: 0;
    cursor: pointer;
}
/* 个人信息 */
#user-spcinfo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 500px;
    /* background-color: pink; */
    box-shadow: 0px 0px 10px #ccc,
    inset 0 0 10px #ccc;
    display: none;
}
#user-spcinfo h2 {
    margin-left: 135px;
}
#user-spcinfo #close {
    background-color: skyblue;
    position: absolute;
    right: -25px;
    top: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
#user-spcinfo #form2 {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#form2 input {
    width: 300px;
    height: 20px;
    outline: none;
}
#user-spcinfo #btn-sub {
    width: 50px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}
/* 相片的盒子 */
#user-Album {
    width: 900px;
    /* height: 600px; */
    /* background-color: purple; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc,
    inset 0 0 10px #ccc;
}
#user-Album img {
    width: 140px;
    margin: 10px 5px;
    vertical-align: middle;
}
#user-Album span {
    margin: 10px 10px
}
#close-Album {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f6b539;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: -25px;
    right: -25px;
    cursor: pointer;
}



